/*
Filtering
--------------------------------------------------------*/


.box-section {
	background-color:$background-light-grey;
	padding: 40px 0 40px 0;
	overflow: hidden;

	.box-label {
		font-family: $sans-serif;
		font-size: 14px;
		text-transform: uppercase;
		color:#5E5E5E;
		letter-spacing:0.05em;
		padding: 60px 0 20px 0;
		font-weight: 400;



		.filterCats {
			color:darken($background-grey,20%);

        	span  {
        		&:nth-child(1) {

        			&:before {
						content:': ';

        			}
        			
        		}        		

        		&:nth-child(2),
        		&:nth-child(3),
        		&:nth-child(4),
        		&:nth-child(5)
        		 {
        			&:before {
						content:', ';

        			}
        			
        		}
        	}

      
		}
	
	}
}

.boxes {
	with:100%;
	overflow:hidden;
	padding-bottom: 20px;
	border-bottom: 1px solid #E5E5E5;

	

	.boxy-box {
		background-color:white;
		width: 100%;
		height: 360px;
		position: relative;
		display: none;
		border-radius:3px;
		border:1px solid #efefef;

		.text-area {
			background-color: white;
			position: absolute;
			bottom: 0;
			height: 190px;
			padding: 15px  30px 30px 30px;
			color: #424242;

			p {
				line-height: 1.5;
			}
		}
	
		p {
			font-size: 14px;
			text-align: left;
			padding-top: 10px;
		}

		&.active {
			display: block;

		}


		&.pink {
			
			background:$background-pink url('../imgs/symbol_black_trans.png') bottom right no-repeat;
			background-size: cover;
			color: white;
		}	

		&.grey {
			
			background:#D5D5D5 url('../imgs/symbol_black_trans.png') bottom right no-repeat;
			background-size: cover;
			color: white;

			p, h4, span {
				color:white;

			}

			.tag {
				color:white;
			}
		}		

		&.stats {
			background: darken($background-pink,8%);
			color: darken($background-pink,28%);

		}	

		.time {
			
			font-size: 14px;
			margin-top: 10px;
			font-weight: 400;
			
		}

		.number {
			font-size: 60px;
			font-weight: 800;
		}

		.tag {
			
			top: 0px;
			left: 0;
			padding: 12px 20px 10px 30px;
			display: block;
			letter-spacing: 0.08em;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 400;
			position: absolute;
			color: white;
			background: darken($background-pink,10%);
		}

		&.bg {
			background:url('../imgs/bg_bw_3.jpg') top right;

			background-size: cover;
			color: #424242;
			padding-top: 140px;
		}


		 @include breakpoint(medium) {
			width: calc(25% - 25px);
			float:left; 
			margin-right: 25px;

			&.double {
				width:calc(50% - 25px);

			
				h4 {
					float: left;
					font-size:50px;
					font-weight: 200;
					color: white;
					margin-top: 0;
				}

				.time{
					float: left;
					color: white;
				}
			}

			&:nth-child(4) {
				margin-right:0;
			}
		}

		.content-area {
			padding: 40px 30px;
			position: relative;

			.courses  & {
				text-align: center;
			}
		}
		

		h4 {
			font-size: 25px;
			font-weight: 600;
			padding-bottom: 5px;
			margin-top: 25px;
			line-height: 1.2;
		}

		.btn-area {
			position: absolute;
			bottom: 0;
			width: 100%;
			padding: 10px;
			transition: all 0.5s;

			.courses &  {
				opacity: 0;
				background-color:white;
			}

		}

		&:hover	.btn-area {
			opacity: 1;
		}


		button {
			float: left;
			width: calc(50% - 5px);

			&:nth-child(2) {
				float:right;
			}

			.books & {
				width: 100%;
			}


		}

		&.redovisning-one{
			background: $background-white url(../imgs/entreprenorer-som-redovisare.jpg) no-repeat left -210px;
			background-size: cover;
		}

		&.redovisning-two{
			background: $background-white url(../imgs/ifrs-volymen-2014.jpg) no-repeat left -210px;
			background-size: cover;
		}

		.tag-blue{
			background: $tag-blue;
		}

		.title{
			background: white;
			position: absolute;
			width: 100%;
			padding-left: 20px;
			left: 0;
			top: 190px;
			font-size: 28px;
			font-weight:100;
		}

		.teaser-text{
			float: left;
			position: absolute;
			top: 250px;
			margin: 0 20px;
			font-size: 14px;
			line-height: 20px;
		}

		.price-container{
			//background: $background-pink;
			.price{
				position: absolute;
				color: $background-pink;
				font-weight: 400;
				left: 5%;
				bottom: 2%;

			}

			button.buy{
				position: absolute;
				width: 50%;		
				bottom: 2%;
				right: 2%;
			}
		}

		
	}
}

