/*
Filtering
--------------------------------------------------------*/


.box-section {
	background-color:$background-light-grey;
	padding: 40px 0;
	overflow: hidden;

	.box-label {
		font-family: $sans-serif;
		font-size: 18px;
		text-transform: uppercase;
		color:$background-grey;
		letter-spacing:0.05em;
		padding: 30px 0 30px 0;
		text-align: center;
	
	}
}

.boxes {
	with:100%;
	overflow:hidden;
	padding-bottom: 20px;
	border-bottom: 1px solid #E5E5E5;

	

	.boxy-box {
		background-color:white;
		width: 100%;
		min-height: 300px;
		position: relative;

		 @include breakpoint(medium) {
			width: calc(25% - 25px);
			float:left; 
			margin-right: 25px;

			&:nth-child(4) {
				margin-right:0;
			}
		}


		h4 {
			font-size: 20px;
			font-weight: 200;
			padding-bottom: 10px;
		}

		.btn-area {
			position: absolute;
			bottom: 0;
			width: 100%;
			padding: 10px;
		}


		button {
			float: left;
			width: calc(50% - 5px);
			text-shadow:none;
			border:none;
			box-shadow:none;
			padding: 8px 10px;
			border-radius: 4px;


			&:nth-child(2) {
				float:right;
			}


			&.pink {
				background-color: darken($background-pink,15%);
				color: white;
				font-size: 16px;            	
			}


			&.green {
				background-color: darken($green,10%);
				color: white;
			}
		}
	}
}

