/*
Filtering
--------------------------------------------------------*/


.box-section {
	background-color:$background-light-grey;
	padding: 40px 0;
	overflow: hidden;
}

.boxes {
	with:100%;
	overflow:hidden;

	

	.boxy-box {
		background-color:white;
		width: 100%;
		min-height: 300px;

		 @include breakpoint(medium) {
			width: calc(25% - 25px);
			float:left; 
			margin-right: 25px;

			&:nth-child(4) {
				margin-right:0;
			}
		}
	}
}

