/*
Buttons
--------------------------------------------------------*/

		button {

			text-shadow:none;
			border:none;
			box-shadow:none;
			padding: 10px 10px;
			border-radius: 4px;
			font-family: $sans-serif;
			font-weight: 100;

			


			&.pink {
				background-color: darken($background-pink,15%);
				background-color:#99cdcb;
				color: white;
				font-size: 16px;            	
			}


			&.green {
				background-color: darken($green,10%);
				color: white;
			}


			

		}