/*
Filtering
--------------------------------------------------------*/


.filters {
	with:100%;
	overflow:hidden;
	text-align: center;

	.filter-label {
		color:$text-color;
		color:#595959;
        font-size: 20px;
        font-weight: 200;


	}

	ul {
		margin: 10px 0;
		overflow: hidden;



		li {
			display:inline-block;
			padding:8px 20px 8px 40px;
			margin-right:10px;
			text-align: left;


			&.filterbox {
				border:1px solid darken(#efefef,30%);
				border:1px solid darken($background-pink,3%);
				transition: all 0.5s;
				min-width: 100px;
				border-radius:1px;
				opacity: 0.4;


				&.active {
					background-color:darken($background-pink,10%);
					border: 1px solid darken($background-pink,4%);
					opacity: 1;

					
					a {
						color: white;

						&:before {
							background-color:white;
							border: 1px solid darken($background-pink,4%);
							color:darken($background-pink,4%);
							padding-left: 2px;
							padding-top: 2px;
							content:'';
							font: normal normal normal 14px/1 FontAwesome;
							
						}	
					}
				}


				a {
					&:before {
						content:'';
						font: normal normal normal 14px/1 FontAwesome;
						width:20px;
						height:20px;
						border-radius:1px;
						border:1px solid darken(#efefef,30%);
						border:1px solid darken($background-pink,3%);
						position:absolute;
				
						top:0px;
						left:-34px;
					}

					text-decoration:none;
					color:darken(#efefef,20%);
					color:darken($background-pink,3%);
					position:Relative;
				}

			}
			}
		}
}