/*
HEADER
--------------------------------------------------------*/

header{
    
    width: 100%;

    .search {
            background: darken($background-pink,8%);
            float: left;
            max-width: 600px;
            width: 100%;
            height: 60px;
            color: darken($background-pink,20%);
            font-weight: 200;
            margin-left: 90px;
            margin-top: 10px;



            ::-webkit-input-placeholder {
                   color:rgba(255, 255, 255, 0.6);
                }

                :-moz-placeholder { /* Firefox 18- */
                  color:rgba(255, 255, 255, 0.6);
                }

                ::-moz-placeholder {  /* Firefox 19+ */
                    color:rgba(255, 255, 255, 0.6); 
                }

                :-ms-input-placeholder {  
                   color:rgba(255, 255, 255, 0.6);
                }

            .search-field {
                background: darken($background-pink,8%);
                padding: 20px 18px 10px;
                border: none;
                width: 80%;
                color: white;
                font-weight: 200;
                opacity: 0.6;
                font-size: 25px;
                float: left;

                &:focus {
                  outline-color: transparent;
                  outline-style: none;
                    -webkit-appearance: none;
                     opacity: 0.9;
                }
            }

            .fa-search {
                float: right;
                font-size: 22px;
                color: $background-white;
                padding: 20px 30px;
                opacity: 0.8;
                opacity: 0.6;
            }

        }

    

    .top{
        background: darken($background-pink,3%);
        border-bottom:2px solid darken($background-pink,4%);
        overflow:hidden;
        height: 50px;


        
        .secondary-nav{
            float: right;
        }
    }

    .main-nav {
        @include columns(12,0);
        background: $background-pink;
        padding: 15px 0 20px 0;
        text-align: center;
    }

    .logo {
        float: left;
        width: 123px;
        height: 78px;
        border: none;
        background: url('../imgs/logo.png');
        background-size: cover;
       

    	h1 {
            color: transparent;
        }
    }

}
