/*
Hero
--------------------------------------------------------*/

.heroWrapper {
    min-height: 50vh;
    position: relative;
}

.hero {
    width: 100%;
    background: #efefef;
    position: absolute;
    visibility: hidden;
    top: 0;
          background: url('../imgs/happy_bg.png') top center;
      background-size: cover;
      opacity: 0;
      -webkit-transition: all 0.5s; /* Safari */
      transition: all 0.5s;

 


    &.active {
      visibility: visible;
      opacity: 1;
 
    }


    .container {
    	min-height: 50vh;
    }

      h2 {
        color:white;
        font-size: 45px;
        font-weight: 800;
    	
      }

      .san {
        font-family: Times;
        font-size: 40px;
        position: absolute;
        padding-left: 10px;
        padding-top: 5px;
        


        &.first {
         left: -35px;

        }
      }

      p {
        color: white;
        font-size: 23px;
        padding: 10px 0;
        line-height: 1.4;
      }


      .redovisning p {
          font-size: 21px;
      }

      button {
        margin-top: 20px;
        padding: 8px 40px;
      }

      .citat {
       
      }

      .text-area {
        bottom: 5vh;
        position: absolute;
        max-width: 40%;

        .citat {
          font-size: 40px;
          font-family: $sans-serif;
          font-weight: 300;
          color: white;
          width: 140%;
          display: inline-block;
          margin-bottom: 40px;
          line-height: 1.4;
          padding-top: 20px;
          padding-top: 60px;
        }

          .author {
            display: block;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 0.05em;
            padding-top: 15px;
          }
      }

       &.skatt {
          background: url('../imgs/bg_bw_2.jpg') top center;
          background-size: cover;
        .bg-cont {
       
        }

        .text-area {
          right: 0;
        }

        h2, p {
          color:darken($text-color,40%);
        }
      }
}