/*
Hero
--------------------------------------------------------*/

.hero {
    width: 100%;
    background: #efefef;
    background: url('../imgs/happy_bg.png') top center;
    background-size: cover;
    position: relative;


    .container {
    	min-height: 50vh;
    }

      h2 {
        color:white;
        font-size: 40px;
        font-weight: 200;
    	
      }

      p {
        color: white;
        font-size: 20px;
        padding: 10px 0;
      }

      button {
        margin-top: 10px;
      }

      .text-area {
        bottom: 5vh;
        position: absolute;
        max-width: 40%;
      }
}