/*
NAVIGATION
--------------------------------------------------------*/

nav {
	li {
		display:inline-block;
	}
} 


a {
	text-decoration: none;
}


.secondary-nav {
	float: right;

	li {
		a {
			display: block;
			padding: 16px 20px 2px 10px;
			color: white;
			font-size: 14px;
			opacity: 0.8;
		}
		



	}

}
.primary-nav {
	display: inline-block;
	float: right;
	padding-top: 20px;

	//float: right;
	//position: absolute;
	//right: 40px;
	//bottom: -10px;
	
	li {
		a {
			display: inline-block;
			padding: 4px 20px 6px;
			font-size: 30px;
			color: white;
			font-weight: 100;

		}
		
	}

}