/*
Colors
----------------------------------------------------------*/

$background: #ffffff;
$background-pink: #ed4197; //PINK
$background-pink: #ED418F; //PINK
$background-grey: #aaa;
$background-light-grey: #f3f3f3;
$background-white: #ffffff;

$green: #b8d69a;
$blue: #005b92; //FAR.se
$tag-blue: #009bf8;

$text-color: #929292;