/*
Colors
----------------------------------------------------------*/

$background: #ffffff;
$background-blue: #50ADD3; // Blue
$background-purple: #B189BE; // Purple
$background-orange: #FF9900; // Orange

$headline-white: #ffffff; // White

$link: #50ADD3; // Blue

$dark-grey: #444444;
$medium-grey: #666666;
$light-grey: #777777;
$lightest-grey: #cccccc;
$tiny-grey: #B5B5B5;
$white-grey: #F1EFEE;