/*
Colors
----------------------------------------------------------*/

$background: #ffffff;
$background-pink: #ed4197; //PINK
$background-pink: #ED418F; //PINK
$background-grey: #aaa;
$background-light-grey: #f3f3f3;
$background-white: #ffffff;

$text-color: #929292;