/*
Theme: FAR Akademi
Author: Ziggy
*/


/*
Imports
--------------------------------------------------------*/
@import "modules/colors";
@import "modules/fonts";

@import "modules/normalize";
@import "modules/reset";


@import "modules/grid";
@import "modules/mixins";

@import "partials/header";
@import "partials/footer";
@import "partials/hero";


@import "partials/navigation";
@import "partials/filtering";
@import "partials/boxes";
@import "partials/cart";
@import "partials/buttons";

/*--------------------------------------------------------*/

body {
    background: $background;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    clear: both;
    padding: 0 40px;
    position: relative;
}
 
.content-sections {
    max-width: 940px;
    margin: 0 auto;    
}

