/*
Theme: FAR Akademi
Author: Ziggy
*/


/*
Imports
--------------------------------------------------------*/
@import "modules/colors";
@import "modules/fonts";

@import "modules/normalize";
@import "modules/reset";


@import "modules/grid";
@import "modules/mixins";

@import "partials/header";
@import "partials/footer";


@import "partials/navigation";
@import "partials/filtering";
@import "partials/boxes";

/*--------------------------------------------------------*/

body{
    background: $background;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    clear: both;
}

section{
    max-width: 940px;
    margin: 0 auto;    
}

